---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  {%- for p in collections.all %}
  {%- if not p.data.excludeFromSitemap %}
  <url>
    <loc>{{ baseUrl }}{{ p.url }}</loc>
    <lastmod>{{ p.date | dateToFormat }}</lastmod>
    <changefreq>monthly</changefreq>
    <priority>{{ "1.0" if p.url == "/" or p.url == "/en/" else "0.8" }}</priority>
  </url>
  {%- endif %}
  {%- endfor %}
</urlset>
