<script async src="https://www.googletagmanager.com/gtag/js?id=G-LB7SHMLZ3R"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-18080961249');
  gtag('config', 'G-LB7SHMLZ3R');
</script>
