<div class="chrome">
  <span class="brand"><img src="assets/logo.svg" alt=""><span>Smart<span class="accent">Agents</span></span></span>
  {% if slideNumber is defined and slideTotal is defined %}
  <span class="pageno">{{ slideNumber }} / {{ slideTotal }}</span>
  {% endif %}
</div>
