<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "Organization",
    "name": "SmartAgents",
    "url": "https://smartagents.be",
    "logo": "https://smartagents.be/assets/logo.svg",
    "description": {{ 'page.index.description' | t(locale) | dump | safe }},
    "email": "info@smartagents.be",
    "address": [
        {
            "@type": "PostalAddress",
            "addressLocality": "Beringen",
            "addressCountry": "BE"
        },
        {
            "@type": "PostalAddress",
            "addressLocality": "Kortessem",
            "addressCountry": "BE"
        }
    ],
    "founder": [
        {
            "@type": "Person",
            "name": "Axel Segers",
            "jobTitle": "Founder",
            "url": "https://www.linkedin.com/in/axelsegers/"
        },
        {
            "@type": "Person",
            "name": "Tom Haeldermans",
            "jobTitle": "Founder",
            "url": "https://www.linkedin.com/in/tom-haeldermans-862172117/"
        }
    ],
    "sameAs": [
        "https://www.linkedin.com/company/smartagents-be/"
    ]
}
</script>
