{% set schemaData = { schemaType: schemaType, pageKey: pageKey, serviceNameKey: serviceNameKey, socialImage: socialImage, nlPermalink: nlPermalink, pageUrl: page.url, postedDate: postedDate } %}
{% set schema = schemaData | buildSchema(locale) %}
{% if schema %}
<script type="application/ld+json" data-generated-schema="page">{{ schema | safe }}</script>
{% endif %}
