<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "page.404.title" | t(locale) }}</title>
    <meta name="robots" content="noindex, follow">
    <meta name="theme-color" content="{{ themeColor }}">
    {% set nlUrl = "/" %}
    {% set enUrl = "/en/" %}
    {% include "document/favicon.njk" %}
    {% include "document/shared-stylesheets.njk" %}
    {% include "document/google-fonts.njk" %}
    {% include "document/google-tag.njk" %}
</head>
<body>
    {% include "../../header/header.njk" %}
    {{ content | safe }}
    {% include "../../footer/footer.njk" %}
    {% include "document/shared-scripts.njk" %}
</body>
</html>
